 .arriba {
    display: flex;
    align-items: center; /* Alinear verticalmente al centro */
  }
  .medio{
    display: flex;
    align-items: center; /* Alinear verticalmente al centro */
  }
  .abajo {
    display: flex;
    align-items: center; /* Alinear verticalmente al centro */
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los elementos horizontalmente en el centro */
    text-align: center; /* Centra el texto dentro de los elementos */
}